@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #000;
  --surface-primary: #fff;
  --color-primary: #e9204f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #fff;
    --surface-primary: #000;
    --color-primary: #e9204f;
  }
}

body {
  color: var(--text-primary);
  background-color: var(--surface-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
